* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    color: aliceblue;
    min-height: 600px;
    background: #0e101b;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
}